<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <h1> Sus Cuentas </h1>
      <template is = "dom-repeat" items = "{{accounts}}">
        <span>IBAN - {{item.iban}}</span>
        <span>Saldo - {{item.balance}}</span>
        <br />
      </template>
    <!-- <h2>Hello [[prop1]]!</h2>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3> y mi email es [[email]]  </h3> -->


    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/accounts/{{userid}}"
      handle-as="json"
      on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          user_id: {
            type:Number
          },accounts : {
            type: Array
          }
        };
      }
      showData(data){

            console.log(data.detail.response);
            this.accounts = data.detail.response;


        /*console.log("Showdata");
        console.log(data.detail.response.id);
        console.log(data.detail.response.user_id);
        console.log(data.detail.response.iban);

     //Informo el valor de la propiedad (this.prop) con el valor del data.detail.response
       this.user_id=data.detail.response.user_id;
       this.last_name=data.detail.response.last_name;
       this.iban=data.detail.response.iban;-->*/

      }

    }


    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
