<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="front_proyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2>-->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3> y tengo [[age]] años </h3>
    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="18" value ="{{age::input}}" max="70" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Front_proyectoApp extends Polymer.Element {
      static get is() { return 'front_proyecto-app'; }
      static get properties() {
        return {
          first_name: {
              type:String
          },last_name: {
            type:String
          },age : {
            type: Number
          }

        };
      }
    }

    window.customElements.define(Front_proyectoApp.is, Front_proyectoApp);
  </script>
</dom-module>
