<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <h2>Hello [[prop1]]!</h2>-->
    <h5>Soy el receptor</h5>
    <h6>Este curso es [[course]]</h6>
    <h6>y estamos en el año [[year]]</h6>
    <input type="text" value="{{course::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
            course: {
              type: String,
              observer: '_courseChanged'
            }, year: {
              type: String
              }
        };
      }
      _courseChanged(newValue,oldValue) {
        console.log("Course property value has changed");
        console.log("The old value is " + oldValue);
        console.log("New value is " + newValue);
      }

    }
    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
